[run]
branch = true
source = pedre

omit =
    */tests/*
    src/pedre/views/*
    src/pedre/plugins/*/base.py
    src/pedre/plugins/base.py
    src/pedre/actions/base.py
    src/pedre/events/base.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
fail_under = 80
show_missing = true
